<div class="row">
  <div id="profile-details">
    <h3 class="heading">Digital + Cloud (AWS) Solution Architect & Java + Angular Developer</h3>

    <p class="profile-description">16 years of work experience in architecture, design, development, implementation &
      maintenance of application
      software. Proactive approach with excellent analytical, problem solving, communication, and team skills proven
      under
      high-pressure environments. Experience in team-leading, onsite experience with very good exposure to application
      domain and platform. Quick learn with very good grasping power.</p>
    <p class="profile-description"> Passionate about <strong>AWS cloud-based</strong>, <strong>frontend
        Angular-based</strong>,
      <strong> backend
        Java-based</strong>
      solutions.</p>

  </div>
  <div id="profile-list-items" class="row">
    <div class="col-lg-6 col-md-6">
      <ul>
        <li>
          <i style="font-size: 2rem" class="pi pi-building"></i>
          <strong>Preferred work location - Mumbai
            (India)</strong>
        </li>
        <li>
          <i style="font-size: 2rem" class="pi pi-building"></i>
          <strong>Preferred work location - New Zealand</strong>
        </li>
        <li>
          <i style="font-size: 2rem" class="pi pi-envelope"></i>
          <strong>
            <a href="mailto:vaibhavaj2@gmail.com">vaibhavaj2@gmail.com</a>
          </strong>
        </li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6">
      <ul>
        <li>
          <i style="font-size: 2rem" class="pi pi-book"></i>
          <strong>Bachelor of Engineering (IT)</strong>
        </li>
        <li>
          <i style="font-size: 2rem" class="pi pi-building"></i>
          <strong>Current location - Auckland, NZ</strong>
        </li>

      </ul>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p>I am looking for an innovative and user-centric company to best meet the needs of the customer. I am very much
        interested to work for AWS cloud solution related projects.
      </p>

    </div>
  </div>
</div>
