<!-- <div class="row" fxFlex="70%" fxLayout="column">
  <div id="profile-photo">
    <p-image src="../../../../assets/profile.jpg" alt="Profile" width="400">
    </p-image>
  </div>
  <br>
  <div id="profile-photo-icons" fxFlex fxLayoutAlign="center">
    <a id="profile-photo-icon" href="https://www.linkedin.com/in/vaibhav-ajmera-8011b524/" target=_blank alt="linkedin">
      <p-avatar image="../../../../assets/linkedin.png" pBadge value="4" severity="danger" styleClass="mr-2"
        size="large">
      </p-avatar>
    </a>
    <a id="profile-photo-icon"  href="https://www.facebook.com/vaibhav.ajmera.3" target=_blank alt="facebook">
      <p-avatar image="../../../../assets/facebook.png" pBadge value="4" severity="danger" styleClass="mr-2"
        size="large">
      </p-avatar>
    </a>
  </div>
</div> -->

<div class="row">
  <div class="col-xs-12">
    <p-card 
        header="Vaibhav Ajmera" 
        subheader="Digital Solution Architect" 
        [style]="{width: '360px'}" 
        styleClass="p-card-shadow">
      <ng-template pTemplate="header">
        <img alt="Card" src="../../../../assets/profile.jpg">
      </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
  deserunt
  quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
      <ng-template pTemplate="footer">
        <a id="profile-photo-icon" href="https://www.linkedin.com/in/vaibhav-ajmera-8011b524/" target=_blank
            alt="linkedin">
            <p-avatar 
                    image="../../../../assets/linkedin.png" 
                    pBadge 
                    value="4" 
                    severity="danger" 
                    styleClass="mr-2"
                    size="large">
            </p-avatar>
        </a>
        <a id="profile-photo-icon" href="https://www.facebook.com/vaibhav.ajmera.3" target=_blank alt="facebook">
            <p-avatar 
                    image="../../../../assets/facebook.png" 
                    pBadge 
                    value="4" 
                    severity="danger" 
                    styleClass="mr-2"
                    size="large">
            </p-avatar>
        </a>
      </ng-template>
    </p-card>


  </div>

</div>
