<div fxLayout.lt-md="column" fxLayout.gt-md="row" fxLayoutAlign="center" fxLayoutGap.gt-xs="30px">
  <div fxFlex.gt-xs="30%" data-aos="zoom-in">
    <app-skills-progress-bar [skillsList]="skillList1"></app-skills-progress-bar>
  </div>
  <div fxFlex.gt-xs="30%" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
    <app-skills-progress-bar [skillsList]="skillList2"></app-skills-progress-bar>
  </div>
  <div fxFlex.gt-xs="30%" data-aos="zoom-out-left">
    <app-skills-progress-bar [skillsList]="skillList3"></app-skills-progress-bar>
  </div>
</div>
